.filter{
    display: flex;
    align-items: center;
    margin: 30px;
    border: 5px solid #dad9d9;
    box-shadow: 0 15px 30px rgb(196, 196, 196), 0 20px 20px rgb(196, 196, 196);
    border-radius: 10px;
    height: 50px;
    width: 900px;
}
.filter2{
    display: flex;
    column-gap: 10px;
    color: #605f5f;
}
.btn{
    color: #605f5f;


}